html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(../img/4917635.jpg);
}

#resetButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #e84118;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

#resetButton:hover {
    background-color: #c0392b;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 100px auto 20px; /* Ajusta a margem para centralizar a caixa de pesquisa e garantir distância do topo */
    position: relative;
}

.header {
    font-size: 2.5rem;
    color: #e84118;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #e84118;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#animationContainer {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingIndicator {
    display: none; /* Oculto por padrão */
    border: 8px solid #f3f3f3;
    border-top: 8px solid #4CAF50;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pokemon-info {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #e84118;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

.pokemon-info h2 {
    color: #e84118;
    margin-bottom: 10px;
}

.pokemon-info img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-info p {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.pokemon-info ul {
    list-style-type: none;
    padding: 0;
}

.pokemon-info ul li {
    margin-bottom: 5px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 0.9rem;
    margin-top: auto; /* Empurra o rodapé para o fundo da página */
}
